* {
    transition: 500ms, opacity 400ms, top, left, width 0ms;
}

div.delPost { /* display, active */
    display: flex;
    position: fixed;
    top: -10000px; left: -10000px;
    width: 0;
    height: 0;

    opacity: 0;
    box-shadow: none;

    align-items: center; /* vertical */
    justify-content: center; /* horizontal */
}

div.delPost[display] {
    top: 0; left: 0;
    width: 100%;
}

div.delPost[active] {
    height: 100%;
    opacity: 1;
}

div.delPost div.backfill { /* display */
    top: -10000px; left: -10000px;
    opacity: .8;
    background-color: rgb(56, 39, 39);
}

div.delPost div.backfill[display] {
    top: 0; left: 0;
}

div.delPost div.delPost-form { /* active */
    background-color: var(--white);
    max-width: 16rem;
    height: 0;

    font-size: .8em;
    margin: 2rem;
    padding: 1.4em;
    overflow: hidden;
}

div.delPost div.delPost-form[active] {
    height: 10.5em;
}

div.delPost input[type=password] {
    margin: 1em 0 .5em 0;
    width: 9em;
    font-size: 1.2em;
}

div.delPost button {
    width: 4em; height: 3em;
    padding: 0; margin-right: .5em;
}

div.delPost-form p {
    width: max-content;
    font-weight: 400;
    color: var(--p);
    margin: 0;
}

div.delPost-form p.invalid svg {
    fill: red;
    margin-right: .4em;
}

div.delPost-form p.invalid {
    font-size: .8em;
    font-weight: 300;
    color: red;
    display: flex;
    align-items: center;
    margin: .6rem 0 1.4rem 0;
}
