* {
    transition: 440ms, opacity 360ms, top, left, width 0ms;
}

div.modPost { /* showResult, active */
    display: flex;
    position: fixed;
    top: -10000px; left: -10000px;
    width: 0;
    height: 0;

    opacity: 0;
    box-shadow: none;

    align-items: center; /* vertical */
    justify-content: center; /* horizontal */
}

div.modPost[display] {
    top: 0; left: 0;
    width: 100%;
}

div.modPost[active] {
    height: 100%;
    opacity: 1;
}

div.modPost div.backfill { /* showResult */
    top: -10000px; left: -10000px;
    opacity: .8;
    background-color: rgb(30, 20, 20);
}

div.modPost div.backfill[display] {
    top: 0; left: 0;
}

div.modPost div.modPost-form { /* active */
    position: relative;
    max-width: 16rem;
    height: 0;

    font-size: .8em;
    margin: 2rem;
    padding: 1.8em;
    overflow: hidden;
    background-color: var(--white);
}

div.modPost[modify=edit] div.modPost-form[active] {
    height: 10.6em;
}

div.modPost[modify=delete] div.modPost-form[active] {
    height: 12.4em;
}

[modify=edit] div.modPost-form p {
    margin-top: .8em;
}

div.modPost-form p {
    width: max-content;
    font-weight: 400;
    color: var(--p);
    margin: 0;
}

div.modPost-form .invalid svg,
div.modPost-form .valid svg {
    margin-right: .4em;
}

div.modPost-form p.invalid,
div.modPost-form p.valid {
    font-size: .8em;
    font-weight: 300;
    display: flex;
    align-items: center;
    margin: .6em 0 1em 0;
}

div.modPost-form p.invalid { color: var(--invalid); }
div.modPost-form p.valid   { color: var(--valid); }

div.modPost div.invCase {
    margin: 0;
    padding: 0;
    box-shadow: none;
    width: max-content;
}

div.modPost[modify=edit] div.invCase {
    height: 3em;
}

div.modPost[modify=delete] div.invCase {
    height: 4em;
}

div.modPost input[type=password] {
    margin: 1em 0 .5em 0;
    width: 9em;
    font-size: 1.2em;
}

div.modPost button {
    font-size: 1em;
    font-weight: 400;
    width: 5em; height: 2.7em;

    margin: 0 .8em 0 0;
    padding: 0;
}
