* {
    outline: 0;
    border: 0;
}

body {
    font-family: SeoulNamsan;
    font-weight: 200;
    font-size: 1.4rem;

    --body-text: rgb(99, 0, 10); /* try searching "CSS variables" if you don't know ;) */

    color: var(--body-text);
    --pline-height: 1.4em;

    --radius: .6em;
    --paper: rgb(255, 232, 229);
    --white: rgb(255, 242, 240);

    --invalid: red;
    --valid: slateblue;

    --title : rgb(143, 0, 62);
    --p     : rgb(177, 0, 24);

    --pre-background   : rgba(255, 0, 120, .1);
    --pre-text         : rgb(131, 0, 76);
}

.fullscreen {
    /* body background filling element */
    all: initial;
    position: fixed;
    top: 0; left: 0;
    margin: 0;
    padding: 0;

    overflow: hidden;
    width: 100%; height: 100%;
    z-index: -1;

    border: 0;
}

body > div.fullscreen#body-fill {
    --color1 : 250, 220, 220;
    --color2 : 240, 160, 180;
    --cover  : 15%;
    --size   : 8%;

	background:
		linear-gradient(135deg, rgb(var(--color1)) var(--cover), transparent),
		repeating-linear-gradient(45deg,  rgba(var(--color1), 1)  0%, rgba(var(--color2), .6) var(--size), transparent var(--size), transparent 10%),
        repeating-linear-gradient(-45deg, rgba(var(--color1), .4) 0%, rgba(var(--color2), .5) var(--size), transparent var(--size), transparent 10%),
	    rgba(var(--color1), .4);
}

h1, h2 {
    font-weight: 400;
}

h3 {
    font-weight: 300;
    color: var(--p);
}

.title {
    color: var(--title);
}

form table {
    font-size: .7em;
    margin: 1.5em 0 .5em 0;
    padding: 0;
}

form table td {
    height: 1.6em;
}

input, textarea, button {
    font-family: SeoulNamsan;
    font-size: .8em;
    font-weight: 200;
    color: var(--pre-text);
    padding: 1rem;
    margin: 2rem 1rem 1rem 0;
    transition: 140ms ease-out;
}

input:focus, textarea:focus, button:focus {
    box-shadow: .2em .2em .3em rgba(208, 91, 132, .6);
}

textarea {
    color: indianred;
    line-height: var(--pline-height);
}

button, input[type=submit][type=button] {
    cursor: pointer;
}

button {
    background-color: var(--pre-background);
    color: var(--pre-text);
    border-radius: var(--radius);
    padding: 2rem;
    margin: 0 .5rem 0 1rem;
}

button, .paper {
    box-shadow: .1em .3em .5em rgb(215, 163, 163); /* right, bottom, range, color */
}

div, input {
    padding: .4em;
    border-radius: var(--radius);
    box-shadow: .4em .5em .2em rgba(230, 170, 170, .4);
}

input[type=text] {
    padding: 1em;
}

input[type=checkbox] {
    margin: 0 2.2em 0 .8em; /* top, right, bottom, left */
    transform: scale(1.7);
}

input[type=radio] {
    margin: 0 2.2em 0 .8em;
    transform: scale(1.7);
    background: none;
    fill: none;
}

input[type=password] {
    margin: 0 0 1em .6em;
    padding: .5em;
}

.paper {
    background-color: var(--paper);
    border: 0;
    border-radius: var(--radius);
}

div.container {
    box-shadow: none;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

div.post {
    position: relative;
    height: max-content;

    margin: 0;
    padding: 1.4em;

    width: 18rem;
    max-height: 30rem;

    box-shadow: none;
    box-sizing: border-box;
    font-size: .8em;
}

div.postWrapper {
    margin: 2rem;
    padding: 0;

    width: 19rem;
    height: max-content;

    overflow: hidden;
}

div.postWrapper:hover {
    overflow-y: scroll;
}

div.post > h2 {
    margin-top: 0;
}
div.post > p {
    margin-bottom: 0;
    line-height: var(--pline-height);
}
div.post > h3 {
    margin-top: .8em;
    margin-bottom: .8em;
}

div.formarea {
    scroll-margin: 2rem;
}

div.postopt-panel {
    position: absolute;
    top: 0; right: -5.5em;
    border-radius: 1em; /* from left, clockwise */
    padding: 0 1em; /* height, width */
    background-color: var(--white);
}

div.postopt-panel p {
    font-weight: 300;
    cursor: pointer;
}

div.postopt-panel p:hover {
    font-weight: 400;
    color: var(--p);
}

svg {
    width: 1.2em;
}

svg.postopt-svg {
    fill: indianred;
    cursor: pointer;
    position: absolute;
    top: 0; right: 0;
    width: 1.5em;
    padding: .9em .6em;
}

.invalid, .valid {
    display: flex;
    align-items: center;
    margin: .5rem 0 2rem 0;
}

p.invalid, p.valid {
    font-size: .8em;
    font-weight: 300;
}

.invalid {
    color: var(--invalid);
    fill: var(--invalid);
}

.valid {
    color: var(--valid);
    fill: var(--valid);
}

.invalid svg, .valid svg { margin-right: .6em; }
.valid svg               { transform: rotate(180deg); }

#displayModPostInfo.invalid,
#displayModPostInfo.valid {
    margin: 1.6em 1em 1em 1em;
}

p {
    font-weight: 200;
    color: indianred;
    position: relative;
}

p.redir {
    cursor: pointer;
    scroll-margin: 1.2em;
}

p.redir:hover {
    text-decoration: underline dotted;
    text-underline-position: under;
    -ms-text-underline-position: under;
}

b {
    font-weight: 400;
}


pre b {
    font-family: "SeoulNamsan";
}

pre {
    font-family: Consolas, SeoulNamsan;
    font-weight: 200;
    font-size: .8em;

    line-height: 1rem;
    border-radius: .3em;

    display: inline-block;
    margin: .25em;
    padding: .25em;

    background-color: var(--pre-background);
    color: var(--pre-text);
}

pre.block {
    padding: .6em;
    border-radius: .5em;
}

pre.goto {
    color: var(--p);
    background-color: rgba(255, 0, 34, .12);
    border-radius: 5em;
    padding: .8em;
    font-size: 1em;
}

p > pre.goto {
    position: absolute;
    margin-left: 1rem;
    bottom: 0;

    border-radius: .5em;
    padding: .2em;
    font-size: .5em;
}

.no-select {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
