<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:inline="text">

<link rel="stylesheet" href="/css/fonts.css">
<link rel="stylesheet" href="/css/global.css">
<head>
    <meta charset="UTF-8">
    <title>생각판 | 게시판 보기</title>
</head>
<body>

<div th:each="post : ${postList}" class="paper post">
    <h2 th:text="'#' + ${post.getId()} + '번째 생각'" name="post-id"></h2>
    <h3 th:text="${post.getTitle()}" name="post-title"></h3>
    <span th:text="${post.getCategory()}" name="post-category"></span>
    <p th:text="${post.getContents()}" name="post-contents"></p>
</div>

<script src="/scripts/script.js"></script>
<script src="/scripts/boardPostList.js"></script>
</body>
</html>
