<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:inline="text">

<link rel="stylesheet" href="/css/fonts.css">
<link rel="stylesheet" href="/css/global.css">
<link rel="stylesheet" href="/css/boardPostList.css">
<head>
    <meta charset="UTF-8">
    <title>생각판 | 게시판 보기</title>
</head>

<body onload="modifyPost.getResult()">

<!--/*@thymesVar id="mpInfo" type="dimigo.hee.ThinkingBoard.domain.ModPostInfo"*/-->
<p id="modPostInfo" th:modPk="${mpInfo.getId()}" th:modType="${mpInfo.getModType()}" th:modResult="${mpInfo.getResult()}" type="hidden"></p>

<h3 id="displayModPostInfo" class="valid" style="display: none;">
    <svg viewBox="0 0 20 20">
        <path d="M10,0C4.5,0,0,4.5,0,10s4.5,10,10,10s10-4.5,10-10S15.5,0,10,0z M10,18.5c-4.7,0-8.5-3.8-8.5-8.5S5.3,1.5,10,1.5 s8.5,3.8,8.5,8.5S14.7,18.5,10,18.5z"></path>
        <path d="M11.4,15c0,0.4-0.1,0.7-0.4,1c-0.3,0.3-0.6,0.5-1,0.5c-0.4,0-0.8-0.2-1-0.5c-0.3-0.3-0.4-0.6-0.4-1c0-0.4,0.1-0.7,0.4-1 c0.5-0.6,1.5-0.6,2,0C11.3,14.3,11.4,14.6,11.4,15z"></path><path d="M8.6,3.8h2.8l-0.7,8.5c0,0-1.5,0-1.5,0S8.6,3.8,8.6,3.8z"></path>
    </svg>
</h3>

<div class="container">

    <!--/*@thymesVar id="post" type="dimigo.hee.ThinkingBoard.domain.Boardpost"*/-->
    <div th:each="post : ${postList}" class="paper postWrapper">
        <div class="paper post" th:pk="${post.getId()}">
            <h2 th:text="'#' + ${post.getId()} + '번째 생각'" name="post-id"></h2>
            <h3 th:text="${post.getTitle()}" name="post-title"></h3>
            <span th:text="${post.getCategory()}" name="post-category"></span>
            <p th:text="${post.getContents()}" name="post-contents"></p>
        </div>
    </div>

    <div class="modPost">

        <div class="fullscreen backfill"></div>

        <div class="modPost-form">

            <form method="post">
                <p>비밀번호를 입력하세요</p>
                <input type="hidden" id="pk" name="id" value="">
                <input type="password" name="password" class="paper">
                <div class="invCase">
                    <p class="invalid">
                        <svg viewBox="0 0 20 20">
                            <path d="M10,0C4.5,0,0,4.5,0,10s4.5,10,10,10s10-4.5,10-10S15.5,0,10,0z M10,18.5c-4.7,0-8.5-3.8-8.5-8.5S5.3,1.5,10,1.5 s8.5,3.8,8.5,8.5S14.7,18.5,10,18.5z"></path>
                            <path d="M11.4,15c0,0.4-0.1,0.7-0.4,1c-0.3,0.3-0.6,0.5-1,0.5c-0.4,0-0.8-0.2-1-0.5c-0.3-0.3-0.4-0.6-0.4-1c0-0.4,0.1-0.7,0.4-1 c0.5-0.6,1.5-0.6,2,0C11.3,14.3,11.4,14.6,11.4,15z"></path><path d="M8.6,3.8h2.8l-0.7,8.5c0,0-1.5,0-1.5,0S8.6,3.8,8.6,3.8z"></path>
                        </svg>
                        삭제 후에는 복구가 불가합니다.
                    </p>
                </div>
                <button type="submit"></button>
                <button type="button" onclick="modifyPost.close()" class="paper">취소</button>
            </form>

        </div>

    </div>

</div>

<script src="/scripts/script.js"></script>
<script src="/scripts/boardPostList.js"></script>
</body>
</html>
