<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:inline="text">

<head>
    <meta charset="UTF-8">
    <title>생각판 | 게시글 수정</title>
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/registerPost.css">
</head>
<body>

<!--/*@thymesVar id="post" type="dimigo.hee.ThinkingBoard.domain.Boardpost"*/-->
<form action="/posts/editPost/submit" method="post" onsubmit="return validate.all()">

    <input name="id" th:value="${post.getId()}" type="hidden">

    <div class="formarea title">
        <p>게시글 제목</p>
        <input type="text" name="title" th:value="${post.getTitle()}" class="paper" maxlength="200"><br>
    </div>

    <div class="formarea category">
        <p>카테고리</p>
        <p id="getCategory" type="hidden" th:value="${post.getCategory()}"></p>
        <table class="catboxes">
            <tr>
                <td class="catbox">의식의 흐름</td>
                <td class="catbox">유머</td>
                <td class="catbox">생활 야담</td>
                <td class="catbox">인생은...</td>
            </tr>
            <tr>
                <td class="catbox">불현듯 스친</td>
                <td class="catbox">고민</td>
                <td class="catbox">고백</td>
                <td class="catbox">독백</td>
            </tr>
            <tr>
                <td class="catbox">공부</td>
                <td class="catbox">꿈</td>
                <td class="catbox">명언</td>
                <td class="catbox">토닥토닥</td>
            </tr>
            <tr>
                <td class="catbox">먹거리</td>
                <td class="catbox">비밀</td>
            </tr>
        </table>
    </div>

    <div class="formarea content">
        <p>게시글 내용</p>
        <textarea name="content" th:text="${post.getContent()}" cols="40" rows="15" class="paper" maxlength="1000"></textarea>
    </div>

    <div class="formarea password">
        <p style="margin-bottom: 1.6em">새 비밀번호 (선택)</p>
        <span>비밀번호</span><input type="password" name="password" th:value="${post.getPassword()}" class="paper"><br>
        <span>비밀번호 확인</span><input type="password" name="password_check" th:value="${post.getPassword()}" class="paper"><br>
    </div>

    <button type="submit">글 수정하기</button>
    <button type="button" class="paper">취소</button>

</form>

<script src="/scripts/script.js"></script>
<script src="/scripts/registerPost.js"></script>
</body>
</html>
