<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:inline="text">

<head>
    <meta charset="UTF-8">
    <title>Thinking Board</title>
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>

<h1 class="title">Thinking Board</h1>

<h2>자유 게시판</h2>

<p class="redir" href="/posts/new">새 게시글 입력</p>
<p class="redir" href="/posts">게시판 보기</p>

<script src="/scripts/script.js"></script>
<script src="/scripts/home.js"></script>
</body>
</html>
