<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:inline="text">

<head>
    <meta charset="UTF-8">
    <title>생각판 | 새 게시글 작성</title>
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/registerPost.css">
</head>
<body>

<form action="/posts/new" method="post">
    <p>게시글 제목</p>
    <input type="text" name="title" class="paper" required><br>

    <p>카테고리</p>
    <table class="catboxes">
        <tr>
            <td class="catbox checked">의식의 흐름</td>
            <td class="catbox">유머</td>
            <td class="catbox">생활 야담</td>
            <td class="catbox">인생은...</td>
        </tr>
        <tr>
            <td class="catbox">불현듯 스친</td>
            <td class="catbox">고민</td>
            <td class="catbox">고백</td>
            <td class="catbox">독백</td>
        </tr>
        <tr>
            <td class="catbox">공부</td>
            <td class="catbox">꿈</td>
            <td class="catbox">명언</td>
            <td class="catbox">토닥토닥</td>
        </tr>
        <tr>
            <td class="catbox">맛있는</td>
            <td class="catbox">비밀</td>
        </tr>
    </tr>
    </table>

    <p>게시글 내용</p>
    <textarea name="contents" cols="30" rows="10" class="paper" required></textarea><br>
    <button type="submit">글 올리기</button>
</form>

<script src="/scripts/script.js"></script>
<script src="/scripts/registerPost.js"></script>
</body>
</html>
