<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:inline="text">

<head>
    <meta charset="UTF-8">
    <title>생각판 | 새 게시글 작성</title>
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/registerPost.css">
</head>
<body>

<form action="/posts/new" method="post" onsubmit="return validate.all()">

    <div class="formarea title">
        <p>게시글 제목</p>
        <input type="text" name="title" class="paper" maxlength="200"><br>
    </div>

    <div class="formarea category">
        <p>카테고리</p>
        <table class="catboxes">
            <tr>
                <td class="catbox checked">의식의 흐름</td>
                <td class="catbox">유머</td>
                <td class="catbox">생활 야담</td>
                <td class="catbox">인생은...</td>
            </tr>
            <tr>
                <td class="catbox">불현듯 스친</td>
                <td class="catbox">고민</td>
                <td class="catbox">고백</td>
                <td class="catbox">독백</td>
            </tr>
            <tr>
                <td class="catbox">공부</td>
                <td class="catbox">꿈</td>
                <td class="catbox">명언</td>
                <td class="catbox">토닥토닥</td>
            </tr>
            <tr>
                <td class="catbox">먹거리</td>
                <td class="catbox">비밀</td>
            </tr>
        </table>
    </div>

    <div class="formarea contents">
        <p>게시글 내용</p>
        <textarea name="contents" cols="40" rows="15" class="paper" maxlength="1000"></textarea>
    </div>

    <div class="formarea password">
        <span>비밀번호</span><input type="password" name="password" class="paper"><br>
        <span>비밀번호 확인</span><input type="password" name="password_check" class="paper"><br>
    </div>

    <button type="submit">글 올리기</button>

</form>

<script src="/scripts/script.js"></script>
<script src="/scripts/registerPost.js"></script>
</body>
</html>
